[Install]
WantedBy=multi-user.target

[Service]
Environment=SIGNOZ_ALERTMANAGER_SIGNOZ_TEMPLATES=/opt/signoz/templates/alertmanager/*.gotmpl
Environment=SIGNOZ_EMAILING_TEMPLATES_DIRECTORY=/opt/signoz/templates/email
Environment=SIGNOZ_SQLSTORE_POSTGRES_DSN=postgres://signoz:signoz@localhost:5432/signoz?sslmode=disable
Environment=SIGNOZ_SQLSTORE_PROVIDER=postgres
Environment=SIGNOZ_TELEMETRYSTORE_CLICKHOUSE_DSN=tcp://localhost:9000
Environment=SIGNOZ_TELEMETRYSTORE_PROVIDER=clickhouse
Environment=SIGNOZ_WEB_DIRECTORY=/opt/signoz/web
ExecStart=/opt/signoz/bin/signoz server
Group=signoz
KillMode=mixed
Restart=on-failure
RestartSec=5
Type=simple
User=signoz
WorkingDirectory=/opt/signoz

[Unit]
Description=SigNoz
Documentation=https://signoz.io/docs
